.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.mb-5 , .my-5 {
    margin-bottom: 3rem!important;
}
@media (min-width: 1200px)
.container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.card::before {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0000006e;
    top: 0;
    left: 0;
    content: '';
    
}

.card-img-overlay a:hover{
    text-decoration: none;
}

.bg-dark {
    background-color: #343a40!important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.h-100 {
    height: 100%!important;
}
.card-img {
    width: 100%;
    border-radius: calc(.25rem - 1px);
}
img {
    vertical-align: middle;
    border-style: none;
}
.align-items-end {
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.text-white {
    color: #fff!important;
}
.card-title {
    margin-bottom: .75rem !important;
}
.h5, h5 {
    font-size: 21px !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0 !important;
    margin-bottom: .5rem !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.card-text:last-child {
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.box-item .box-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box-item .content-row {
    background-color: rgba(0, 0, 0, 0.541);
}
@media (min-width: 768px){
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.box-item .content-row .box-content {
    background-color: white;
}
.box-item {
    height: 400px;
}
.p-3 {
    padding: 1rem!important;
}
.box-item .content-row .box-content .title {
    position: relative;
    margin-bottom: 18px !important;
    font-weight: bold !important;
    color: rgb(189, 147, 113);
    font-size: 2.5rem;
}
.box-item .content-row .box-content .description {
    color: #50456D;
}
.box-item .box-content .title::after {
    content: "";
    display: flex;
    width: 87px;
    height: 5px;
    background-color: rgb(189, 147, 113);
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 16px;
    z-index: 0;
}
.position-relative {
    position: relative!important;
}
.h4, h4 {
    font-size: 1.5rem;
}
.p-2 {
    padding: .5rem!important;
}
.border {
    border: 1px solid #dee2e6!important;
}
.wrapper {
    height: 364px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper a {
    color: initial;
}
.wrapper .top {
    height: 80%;
    width: 100%;
}
.m-auto {
    margin: auto!important;
}
.d-block {
    display: block!important;
}
.wrapper .inside .contents {
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
    color: black;
}
.wrapper .inside .contents table {
    text-align: left;
}
img {
    vertical-align: middle;
    border-style: none;
}
.wrapper .bottom {
    width: 200%;
    height: 20%;
    transition: transform 0.5s;
}
.wrapper .bottom .left {
    height: 100%;
    width: 50%;
    background: #f4f4f4;
    position: relative;
    float: left;
}
.wrapper .bottom .left .details {
    padding: 20px;
    float: left;
    width: calc(70% - 40px);
    background: white;
}
.w-100 {
    width: 100%!important;
}
.text-center {
    text-align: center!important;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.wrapper .inside {
    z-index: 9;
    background: #ffffff00;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
}
.wrapper .inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    font-size: 24px;
    color: #909090;
    opacity: 1;
}

table {
    border-collapse: collapse;
}
.wrapper .inside .contents table tr {
    display: block;
    padding: 5px 0;
}
.wrapper .inside .contents table tr th, .wrapper .inside .contents table tr td {
    width: 45%;
    display: inline-block;
    padding-left: 35px!important;
}
.text-left {
    text-align: left!important;
}
.wrapper a {
    color: initial;
}
.wrapper:hover {
    transform: scale(1);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.wrapper .inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    font-size: 24px;
    color: #909090;
    opacity: 1;
}
.wrapper .inside:hover, .wrapper .inside:focus, .wrapper .inside:active {
    background-color: white;
    width: 100%;
    height: 80%!important;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 70%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .inside:hover .icon, .wrapper .inside:focus .icon, .wrapper .inside:active .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
}
.wrapper .inside:hover .contents, .wrapper .inside:focus .contents, .wrapper .inside:active .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
    width: 100%;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.shape-name, .box-name {
    color: #BD9371;
    text-transform: none;
}
.specifications span.specifications-title {
    padding: 0 0 10px 0;
    border-bottom: 2px solid #BD9371;
}
span.specifications-title {
    font-size: 18px;
    font-weight: bold;
    color: #BD9371;
    margin-bottom: .5rem;
    line-height: 1.2;
    padding: 0;
    border: none;
}
@media (min-width: 992px){
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 1200px){
    .col-lg-5 {
        width: 41.66667%;
    }
}
@media (max-width: 1024px){
    .wrapper .inside .contents table tr th, .wrapper .inside .contents table tr td {
        width: 49%;
        display: inline-block;
        padding-left: 25px!important;
    }
    .wrapper {
        height: 100%;
    }
}
.owl-item img.owl1-img  {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.owl-item img.owl2-img {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.mg-lft-rght .owl-nav button.owl-prev{
    left: 80px;
}
.mg-lft-rght .owl-nav button.owl-next{
    right: 80px;
}
table.specifications {
    margin-bottom: 1rem;
    line-height: 1.5;
}
table.specifications tbody tr td.specifications-type {
    color: #BD9371;
}
table.specifications tbody tr td {
    width: 16%;
}
.w-auto{
    width: auto !important;
}
.start-customize a {
    transition: all .5s .1s ease-in-out;
    -webkit-transition: all .5s .1s ease-in-out;
    -moz-transition: all .5s .1s ease-in-out;
    -ms-transition: all .5s .1s ease-in-out;
    -o-transition: all .5s .1s ease-in-out;
    width: 251px;
    height: 53px;
    color: white;
    background-color: #4B4360;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 16px;
}
.start-customize a:hover {
    transition: all .5s .1s ease-in-out;
    -webkit-transition: all .5s .1s ease-in-out;
    -moz-transition: all .5s .1s ease-in-out;
    -ms-transition: all .5s .1s ease-in-out;
    -o-transition: all .5s .1s ease-in-out;
    opacity: .8;
    text-decoration: none;
    color: white;
}
.pl-2, .px-2 {
    padding-left: .5rem!important;
}
.what-inside-title {
    color: #b39c7d!important;
    font-size: 40px;
    text-transform: none;
}
.mg-lft-rght .owl-dots {
    text-align: center;
}
.mg-lft-rght .owl-dots .owl-dot  {
    background-color: #fff;
    border: 2px solid #b39c7d; 
    border-radius: 20px;
    display: inline-block;
    height: 14px;
    margin: 5px 7px;
    opacity: 1;
    width: 14px;
}
.mg-lft-rght .owl-dots .owl-dot:hover , .mg-lft-rght .owl-dots .owl-dot.active{
    background-color: #b39c7d;
    opacity: 3;
}
.what-inside .owl-dots {
    text-align: center;
    margin-top: 3rem;
}
.what-inside .owl-dots .owl-dot  {
    background-color: #fff;
    border: 2px solid #b39c7d; 
    border-radius: 20px;
    display: inline-block;
    height: 14px;
    margin: 5px 7px;
    opacity: 1;
    width: 14px;
}
.what-inside .owl-dots .owl-dot:hover , .what-inside .owl-dots .owl-dot.active{
    background-color: #b39c7d;
    opacity: 3;
}
.wrapper {
    margin-top: inherit;
}
.box-item .content-row .rounded-right-top {
    border-radius: 0px 5px 0px 0px;
}

.box-item .content-row .rounded-left-top {
    border-radius: 5px 0px 0px 0px;
}