//	Import Fonts
/*@import "../css/fonts";*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

@import "variables";
@import "mixins";

@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width; height: device-height;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

$dir: ltr;

body {
  font-family: 'Lato', sans-serif !important;
}
header {
	.btn {
		font-weight: bold !important;
	}
}
@import "all";