/* Start Set From Rate  */

/* set rating */
@import './set-rating.css';
/* sustomer comments */
@import '../customer-comment.css';
/* Start Set From Rate  */

/* Start Rating Review */
.rating-title::before{
    height                  : 40px;
    background-image        : url('../../../img/seprator.png');
    background-size         : cover;
    width                   : 100%;
    position                : absolute;
    top                     : 22px;
    right                   : 0;
    bottom                  : auto;
    left                    : auto;
    content                 : "";
    z-index                 : -1;

}
.rating-title strong{
    display                 : inline-block;
    background-color        : #ffffff;
    padding                 : 0 30px;
    font-weight             : normal;
    font-size               : 3rem;

}
.rating-title strong span{
    font-size               : 28px;
    display                 : block;
    color                   : #bd9371;

}
.rating-total {
    font-size               : 1.2rem;
    color                   : #bd9371;
}
div.add-rating p{
    font-size: 1.5rem;
    color:#BD9371;
}
div.add-rating button{
    background-color        : #BD9371 !important;
    color                   : white;
    border                  : none;
    padding                 : 1rem;
    margin                  : 1rem 0;
    width                   : 25%;
    font-size               : 1.5rem;
}
div.add-rating button:focus{
    outline                 : none;
    border                  :none;
}
div.add-rating button:hover{
    opacity                 : .9;
}

/* End Rating Review */

/* Start progress and Stars */

.glyphicon { 
    margin-right            :5px;
}
.rating-view .glyphicon {
    font-size               : 22px;
}
.rating-num { 
    margin-top:0px          ; font-size: 54px; 
}
.progress { 
    margin-bottom           : 5px;
}
.progress-bar { 
    text-align              : left; 
}
.rating-desc .col-md-3 {
    padding-right           : 0px;
}
.sr-only {
     margin-left            : 5px;overflow: visible;clip: auto;
}
div.rating-view span {
    font-size               : 1.5rem;
}
.progress.progress-rate {
    height                  : 2rem!important;
    margin-bottom           : 1rem;
}
.progress.progress-rate div{
    background-color        : #f4ebd3;
    line-height             : 0;
    color                   : #804b21;
}
.progress-star{
    color                   : #ffc700;
}


/* Start progress and Stars */