.invoice h3.order-title  {
    color: #BD9371;
    font-weight: bold;
    margin-bottom: 24px;
}
.invoice h3.product-title {
    position: relative;
    color: #BD9371;
    font-weight: bold;
    margin-bottom: 24px;
}
.invoice h3.product-title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -9px;
    left: 0;
    height: 5px;
    width: 34px;
    border-radius: 12px;
    background-color: #BD9371;
}
.invoice table.order-details {
    width: 100%;
}
.invoice table.order-details tr{
    border-bottom: 2px solid rgb(81, 44, 29,60%);
    color: rgb(81, 44, 29,60%);
    font-size: 25px;
}
.invoice table.order-details tr:last-of-type{
    border-bottom: none;
}
.invoice table.order-details tr td{
    padding: 10px 0;
}
.invoice .image-container{
    position: relative;
}
.invoice .btn-group{
    position: relative;
    width: 50%;
    margin: auto;
    display: block;
}
.invoice a.back ,.invoice a.add-cusomize-to-cart{
    position: absolute;
    border: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(189, 147, 113,51%);
    bottom: 0;
    text-align: center;
    font-size: 27px;
    color: white;
    line-height: 2;
}
.invoice a.back{
    left: 0;
}
.invoice a.add-cusomize-to-cart{
    right: 0;
}
.invoice a.back:hover ,.invoice a.back:active ,.invoice a.back:focus ,.invoice a.add-cusomize-to-cart:hover,.invoice a.add-cusomize-to-cart:active,.invoice a.add-cusomize-to-cart:focus{
    background-color: rgb(189, 147, 113)!important;
    border-color: rgb(189, 147, 113)!important;
    color: white;
    
}
.invoice a.back:focus ,.invoice a.add-cusomize-to-cart:focus{
    box-shadow:0 0 0 0.2rem rgba(189, 147, 113,.5)!important;
}