.slider-container{
    overflow: hidden;
}

.slider-item{
    margin: 0px;
    transition: transform .6s ease-in-out;
    -webkit-transition: transform .6s ease-in-out;
    -moz-transition: transform .6s ease-in-out;
    -ms-transition: transform .6s ease-in-out;
    -o-transition: transform .6s ease-in-out;
}
ul.dots{
    position: absolute;
    bottom: -18px;
    display: flex;
    justify-content: center;
    height: -11rem;
    left: 0;
    right: 0;
    list-style: none;
}
ul.dots li {
    float: left;
    width: 1rem;
    height: 1rem;
    border: 2px solid #B39C7D;
    border-radius: 2rem;
    margin: 3px;
}
